<div class="dashboard">
  <div class="sidebar">

    <div class="logo-container">
      <img src="/assets/logo.png" class="logo" alt="Sonexa logo" />
    </div>
    <button routerLink="/dashboard">🏠 Home</button>
    <button routerLink="/collection">📚 Coleção</button>
    <button routerLink="/notifications">🔔 Notificações</button>

    <div class="sidebar-bottom">
      <button class="user-display" routerLink="/profile">
        👤 {{ user.username }}
      </button>
      <button (click)="logout()">⏻ Logout</button>
    </div>
  </div>

  <div class="main">

    <div *ngIf="message || error" class="toast-global" [ngClass]="{ 'error': error }">
      {{ error || message }}
    </div>

    <h1>Dashboard</h1>

    <div class="search-box">
      <select [(ngModel)]="searchType"
        style="padding: 10px; border-radius: 10px; background: #cfd6e1; border:none; margin-right: 5px;">
        <option value="artist">Artistas</option>
        <option value="album">Álbuns</option>
      </select>

      <div class="input-group">
        <input type="text" placeholder=" " [(ngModel)]="searchTerm" (input)="onSearchChange()" />
        <label>Pesquisar {{ searchType === 'artist' ? 'artistas' : 'álbuns' }}...</label>
      </div>

      <button type="button" (click)="search()">Pesquisar</button>
    </div>

    <div class="results">
      <div 
      *ngFor="let artist of artists" 
      class="artist-card"
      (click)="goToArtist(artist._id)"
    >
    
      <div class="artist-row">
    
        <img 
          *ngIf="artist.imageUrl"
          [src]="artist.imageUrl"
          class="artist-image"
          alt="artist"
        />
    
        <div class="artist-meta">
    
          <h3 class="artist-name">
            {{ artist.name }}
          </h3>
    
          <button 
            class="fav-btn"
            (click)="addFavorite(artist._id); $event.stopPropagation()"
          >
            Favorito
          </button>
    
        </div>
    
      </div>
    
    </div>
    <div 
  *ngFor="let album of albums" 
  class="album-card"
  (click)="goToAlbum(album._id)"
>

  <div class="album-row">

    <img 
      *ngIf="album.imageUrl"
      [src]="album.imageUrl"
      class="album-image"
      alt="album"
    />

    <div class="album-meta">

      <h3 class="album-title">
        {{ album.title }}
      </h3>

      <p class="album-artist">
        {{ album.artist?.name || 'Vários Artistas' }}
      </p>

    </div>

    <div class="album-year">
      {{ album.year }}
    </div>

  </div>

</div>

