<div class="logo-container">
  <img src="/assets/logo.png" class="logo" alt="Sonexa logo" />
</div>

<div class="login-container">

  <div class="login-card">

    <h2>Registar</h2>
    <p class="subtitle">Cria a tua conta!</p>

    <form (ngSubmit)="onRegister()" autocomplete="off">

      <div class="input-group">
        <input 
          type="text" 
          placeholder=" " 
          [(ngModel)]="username" 
          name="username" 
          required 
          autocomplete="off"
        />
        <label>Username</label>
      </div>
      <p class="hint">Apenas letras e números</p>

      <div class="input-group">
        <input 
          type="email" 
          placeholder=" " 
          [(ngModel)]="email" 
          name="email" 
          required 
          autocomplete="off"
        />
        <label>Email</label>
      </div>

      <div class="password-wrapper input-group">
        <input
          [type]="showPassword ? 'text' : 'password'"
          placeholder=" "
          [(ngModel)]="password"
          name="password"
          required
          autocomplete="new-password"
        />
        <label>Password</label>
        <span class="toggle" (click)="showPassword = !showPassword">
          {{ showPassword ? 'Hide' : 'Show' }}
        </span>
      </div>

      <p class="hint">
        Mín. 8 caracteres, 1 maiúscula, 1 minúscula e 1 número
      </p>

      <div class="input-group">
        <input 
          type="date" 
          placeholder=" " 
          [(ngModel)]="birthDate" 
          name="birthDate" 
          required 
          autocomplete="off"
        />
        <label>Data de nascimento</label>
      </div>
      <p class="hint">Tens de ter pelo menos 13 anos</p>

      <button type="submit">Criar Conta</button>

    </form>

    <p class="error" *ngIf="error">{{ error }}</p>

    <p class="register-text" *ngIf="message" style="color: #2cb67d">
      {{ message }}
    </p>

    <p class="register-text">
      Já tens conta?
      <a routerLink="/login">Login</a>
    </p>

  </div>

</div>