<div class="dashboard">

  <div class="sidebar">

    <div class="logo-container">
      <img src="/assets/logo.png" class="logo" alt="Sonexa logo" />
    </div>

    <button routerLink="/dashboard">🏠 Home</button>

    <div class="sidebar-bottom">
      <button class="user-display" routerLink="/profile">
        👤 {{ user?.username || 'Perfil' }}
      </button>

      <button (click)="logout()">⏻ Logout</button>
    </div>
  </div>

  <div class="main" *ngIf="album">

    <div class="artist-container">

      <div class="artist-row">

        <img
          [src]="album.imageUrl"
          class="album-cover-styled"
          alt="Capa do álbum"
        />

        <div class="artist-meta">

          <h1 class="artist-name">
            {{ album.title }}
          </h1>

          <p class="subtitle">Artista</p>

          <div
            class="artist-pill"
            *ngIf="album.artist?._id"
            [routerLink]="['/artist', album.artist._id]"
          >
            🎧 {{ album.artist.name }}
          </div>

          <div *ngIf="!album.artist?._id">
            Vários Artistas
          </div>

          <p class="meta-text">
            MBID: {{ album.mbid }}
          </p>

          <p class="meta-text">
            {{ album.year }} | {{ album.type | uppercase }}
          </p>

        </div>

      </div>

      <h2 class="section-title">
        Faixas
      </h2>

      <div class="albums">

        <div
          *ngFor="let track of album.tracks"
          class="album-card"
        >

          <span>
            {{ track.number }}. {{ track.title }}
          </span>

          <span class="track-duration">
            {{ track.duration }}s
          </span>

        </div>

      </div>

      <h2 class="section-title">
        Versões Disponíveis
      </h2>

      <div class="albums">

        <div
          *ngFor="let v of album.versions"
          class="album-card"
        >

          <div>
            <strong class="version-format">
              {{ v.format | uppercase }}
            </strong>

            <div class="version-description">
              {{ v.description }}
            </div>
          </div>

          <code class="ean-code">
            {{ v.ean13 }}
          </code>

        </div>

      </div>

    </div>

  </div>

</div>