<div class="logo-container">
  <img src="/assets/logo.png" class="logo" alt="Sonexa logo" />
</div>

<div class="login-container">

  <div class="login-card">

    <h2>Login</h2>
    <p class="subtitle">Welcome back</p>

    <p class="success" *ngIf="message">{{ message }}</p>

    <form (ngSubmit)="onLogin(); $event.preventDefault()">

      <div class="input-group">
        <input
          type="text"
          [(ngModel)]="username"
          name="username"
          required
        />
        <label>Username</label>
      </div>

      <div class="password-wrapper input-group">
        <input
          [type]="showPassword ? 'text' : 'password'"
          [(ngModel)]="password"
          name="password"
          required
        />
        <label>Password</label>
        <span class="toggle" (click)="showPassword = !showPassword">
          {{ showPassword ? 'Hide' : 'Show' }}
        </span>
      </div>

      <button type="button" (click)="onLogin()">Entrar</button>

    </form>

    <p class="error" *ngIf="error">{{ error }}</p>

    <p class="register-text">
      Não tens conta?
      <a routerLink="/register">Registar</a>
    </p>

  </div>

</div>